{% load static %}
<!DOCTYPE html>
<html  lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/editstyle.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>
            會員資料
        </title>
</head>

<input type="checkbox" name="" id="menu_control">
    <div class="header">
        <h1 class="logo">
            <a href="/home"><img src="https://raw.githubusercontent.com/WilsonXeon/build_website/pages/testimg/logo.png"></a>
        </h1>

        <label for="menu_control" class="menu_btn">
            <span>選單</span>
        </label>
    </div>

<body>



<!-- 這個區塊的內容會讓繼承此模板的子模板複寫 -->
{% block content %}
    <div class="wrap">
        <div class="list">
            <li>
                <a href="/user_edit"> ▎我的帳戶</a>

                <ui><a href="/user_edit"> ▏個人資料</ui></a>
                <ui> <a href="/user_ccard">▏我的信用卡</ui></a>
                <ui> <a href="/user_adr_edit"> ▏寄件地址</ui></a>
                <ui> <a href="/user_password_edit"> ▏更改密碼</ui></a>

            </li>

            <li>
                <a href="/shopping_cart">  ▎購物清單</a>
            </li>

            <li>
                <a href="/shopping_info"> ▎通知一覽</a>
            </li>
        </div>

                <form class="box3" action="" method="POST">
                    <p style="font-size: 25px;font-weight: 800;color:#5c513d;text-align: center;"><i class="fas fa-map-marker-alt"> 寄件地址</i></p>

                    <!-- 跨站請求偽造 -->
                    {% csrf_token %}


                        <select id="縣市1" name="address1" class="select-control" required></select>

                        <select id="鄉鎮市區1" name="address2" class="select-control" required></select>

                        {{ form.address3 }}


                     <div class="button_div">
                        <input type="button" onclick="submit()" value="儲存地址" class="button"/>
                    </div>
                    </form>

    </div>



    <script src="{% static '/css/visa.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
        //當頁面載完之後，用AddressSeleclList.Initialize()，
        //傳入要綁定的縣市下拉選單ID及鄉鎮市區下拉選單ID
        AddressSeleclList.Initialize('縣市1', '鄉鎮市區1');
        //後面四個參數分別是兩個下拉選單的預設文字跟值
       AddressSeleclList.Initialize('縣市2', '鄉鎮市區2', 'Please Select City', '0', 'Please Select Area', '0');
   }

 </script>
<script src="{% static '/css/index.js' %}"></script>
 <script src="https://kit.fontawesome.com/a0640d73c3.js" crossorigin="anonymous"></script>
</body>
{% endblock  %}
</html>