@font-face {
  font-family: Secular One, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
}

@-webkit-keyframes slidein {
  from {
    padding-bottom: 100%;
    width: 300%;
  }
}

@keyframes slidein {
  from {
    padding-bottom: 100%;
    width: 300%;
  }
}

.header {
  margin: 0;
  height: 11.9403vh;
  background-color: #A18559;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

@media screen and (max-device-width: 420px) {
  .header {
    width: 100vw;
  }
}

.logo {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  padding: 0%;
}

.logo img {
  margin: auto;
  vertical-align: middle;
}

#menu_control {
  position: absolute;
}

#menu_control:checked ~ .wrap > .list {
  left: 0;
}

.menu_btn {
  width: 50px;
  height: 50px;
  background-color: #5F4B3F;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}

.menu_btn::before {
  content: " ";
  position: absolute;
  height: 2px;
  left: 2px;
  width: 30px;
  background-color: #FBF3ED;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-box-shadow: 0 12px 0 #FBF3ED, 0 -12px 0 #FBF3ED;
          box-shadow: 0 12px 0 #FBF3ED, 0 -12px 0 #FBF3ED;
}

.menu_btn span {
  opacity: 0;
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media screen and (min-device-width: 768px) {
  .menu_btn {
    display: none;
  }
}

body {
  margin: 0;
  background-image: url("../build_website/testimg/backimg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  font-family: Secular One, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body ::-webkit-input-placeholder {
  color: #5F4B3F;
  letter-spacing: 0.29268vw;
  font-size: 1.17073vw;
}

body .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 11.9403vh;
  margin-bottom: 2.98507vh;
  color: #5c513d;
  font-weight: 900;
  letter-spacing: 0.4878vw;
  font-size: 2.34146vw;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  padding-bottom: 0%;
  width: 100%;
}

@media (max-device-width: 420px) {
  body .fas {
    font-size: 24px;
    color: #FBF3ED;
  }
}

body .sub {
  top: 100%;
  margin-top: 1.49254vh;
  margin-bottom: 1.49254vh;
  cursor: pointer;
  background-color: #cc9e4e;
  color: seashell;
  width: 29.26829vw;
  height: 8.95522vh;
  font-size: 1.36585vw;
  border-radius: 50px;
  border: 0.19512vw solid #ffffff;
  font-weight: 600;
}

@media (max-device-width: 420px) {
  body .sub {
    width: 200px;
    font-size: 16px;
  }
}

body .sub:hover {
  background-color: #fff3eb;
  color: #cc9e4e;
  -webkit-box-shadow: 0 0 30px #ffffff;
          box-shadow: 0 0 30px #ffffff;
  border: 0.19512vw solid #cc9e4e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.signup {
  background-color: rgba(255, 243, 235, 0.5);
  width: 39.02439vw;
  height: 97.01493vh;
  margin-bottom: 5.97015vh;
  border-radius: 30px;
  padding-top: 7.46269vh;
  padding-bottom: 8.95522vh;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-device-width: 420px) {
  .signup {
    width: 300px;
  }
}

.signup .label {
  color: #5c513d;
  font-size: 1.36585vw;
  font-weight: 500;
  text-align: left;
}

.signup input {
  letter-spacing: 3px;
  background-color: #fff3eb;
  color: #cc9e4e;
  width: 24.39024vw;
  height: 5.97015vh;
  padding: 0.74627vh;
  margin-bottom: 0.74627vh;
  margin-left: 0.97561vw;
  border-style: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 0.29851vh solid;
  border-color: #cc9e4e;
  font-size: 1.36585vw;
  font-weight: 400;
}

@media (max-device-width: 420px) {
  .signup input {
    width: 200px;
    height: 40px;
  }
}

.signup input ::-webkit-input-placeholder {
  color: #5c513d;
}

.signup .select-control {
  background-color: #fff3eb;
  color: #5F4B3F;
  width: 12.19512vw;
  height: 7.46269vh;
  padding: 1.49254vh;
  margin-top: 2.98507vh;
  margin-bottom: 2.98507vh;
  margin-left: 0.97561vw;
  border-style: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 0.29851vh solid;
  border-color: #cc9e4e;
  font-size: 1.36585vw;
  font-weight: 400;
  letter-spacing: 0.19512vw;
}

@media (max-device-width: 420px) {
  .signup .select-control {
    width: 110px;
    height: 40px;
  }
}

.signup .form-date {
  padding: 0.97561vw;
  width: 19.5122vw;
  height: 2.98507vh;
  margin-top: 2.98507vh;
  margin-left: 0.97561vw;
  margin-bottom: 1.49254vh;
  font-size: 1.36585vw;
}

@media (max-device-width: 420px) {
  .signup .form-date {
    width: 200px;
    height: 30px;
  }
}

.invalid-feedback {
  text-align: left;
  font-weight: 800;
  font-size: 1.17073vw;
  color: #5F4B3F;
  margin-top: 1.49254vh;
}
/*# sourceMappingURL=style.css.map */