{% load static %}
<!DOCTYPE html>
<html  lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>好米行</title>
    <link href="../../static/css/home.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/css/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/slick/slick-theme.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<input type="checkbox" name="" id="menu_control">
    <div class="header">
        <h1 class="logo">
            <a href="/home"><img src="https://raw.githubusercontent.com/WilsonXeon/build_website/pages/testimg/TAG-V2.png"></a>

                <div class="info">
                    <a href="/shopping_info"><i class="fas fa-bell"></i></a>
                    <a href="/shopping_cart"><i class="fas fa-shopping-cart"></i></a>

                    <!-- <div class="dropdown show"> -->
                        <!-- 下拉菜單按鈕 -->
                        <a class="fas" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <!-- 菜單內容 -->
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="{% url 'edit'  %}">我的帳戶</a>
                          <a class="dropdown-item" href="/user_ccard">新增信用卡</a>
                          <a class="dropdown-item" href="/user_adr_edit">寄件地址</a>
                          <a class="dropdown-item" href="/user_password_edit">修改密碼</a>
                          <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'Logout' %}" >登出</a>

                        </div>
                      <!-- </div> -->

                </div>


        </h1>
        <label for="menu_control" class="menu_btn">
            <span>選單</span>
        </label>

    </div>

    <a href="#"><img src="https://raw.githubusercontent.com/WilsonXeon/build_website/pages/testimg/up-arrow.png" class="gotop"></a>

<body>
{% block content %}
        <div class="wrap">

            <div class="list">
                    <li>
                        <a href="#rice"> ▎鮮貨食材</a>
                        <ui><a href="#rice"> ▏優質好米</ui></a>
                        <ui> <a href="#vegetable"> ▏新鮮蔬果</ui></a>
                        <ui> <a href="#meat"> ▏嚴選肉品</ui></a>

                    </li>
                    <li></li>

                    <li>
                        <a href="#snake"> ▎沏茶小食</a>
                        <ui> <a href="#snake">▏餅乾點心</ui></a>
                        <ui> <a href="#candy">▏果乾蜜餞</ui></a>
                        <ui> <a href="#coffee"> ▏精品咖啡</ui></a>
                        <ui> <a href="#tea"> ▏特級茶葉</ui></a>
                    </li>

             </div>
             <!-- 白米標籤 -->
            <div class="content" id="rice">
                <div class="bannerContainer">
                    <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E8%9C%82%E8%9C%9C.jpg?raw=true" alt="蜂蜜優惠活動">
                    <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E8%8A%92%E6%9E%9C0.jpg?raw=true" alt="芒果季開跑">
                    <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E8%8A%92%E6%9E%9C1.jpg?raw=true" alt="芒果季開跑">
                </div>

                <div class="topic">優質好米</div>

                    <div class="container">
                        <div class="row row-cols-6">
                                <div class="col">
                                <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E9%9C%A7%E5%B3%B0%E5%8D%80%E8%BE%B2%E6%9C%83%E3%80%91%E4%BA%94%E7%94%B2%E5%9C%B0%E9%A6%99%E7%B1%B3.jpg?raw=true" alt="【霧峰區農會】五甲地香米">
                                <h1>【霧峰區農會】<br>五甲地香米</h1>
                                <p>NT.280</p>
                                <button>加入購物車</button>
                                </div>
                                <div class="col">
                                <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E9%9C%A7%E5%B3%B0%E5%8D%80%E8%BE%B2%E6%9C%83%E3%80%91%E8%B6%8A%E5%85%89%E7%B1%B3.jpg?raw=true" alt="【霧峰區農會】越光米">
                                <h1>【霧峰區農會】<br>越光米</h1>
                                <p>NT.230</p>
                                <button>加入購物車</button>
                                </div>
                                <div class="col">
                                    <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E9%9C%A7%E5%B3%B0%E5%8D%80%E8%BE%B2%E6%9C%83%E3%80%91%E4%BA%94%E7%94%B2%E5%9C%B0%E9%A6%99%E7%B1%B32KG.jpg?raw=true" alt="【霧峰區農會】香米2KG">
                                    <h1>【霧峰區農會】<br>香米2KG</h1>
                                    <p>NT.300</p>
                                    <button>加入購物車</button>
                                </div>
                                <div class="col">
                                    <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E9%9C%A7%E5%B3%B0%E5%8D%80%E8%BE%B2%E6%9C%83%E3%80%91%E4%BA%94%E7%94%B2%E5%9C%B0%E9%A6%99%E7%B1%B35KG.jpg?raw=true" alt="【霧峰區農會】香米5KG">
                                    <h1>【霧峰區農會】<br>香米5KG</h1>
                                    <p>NT.320</p>
                                    <button>加入購物車</button>
                                </div>
                                <div class="col">
                                    <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E9%BA%BB%E7%87%9F%E8%BE%B2%E5%A4%AB%E3%80%91%E8%B6%8A%E5%85%89%E7%B1%B3-%E7%99%BD%E7%B1%B3.jpg?raw=true" alt="【麻營農夫】越光米-白米">
                                    <h1>【麻營農夫】<br>越光米-白米</h1>
                                    <p>NT.100</p>
                                    <button>加入購物車</button>
                                    </div>
                                <div class="col">
                                    <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E9%BA%BB%E7%87%9F%E8%BE%B2%E5%A4%AB%E3%80%91%E8%B6%8A%E5%85%89%E7%B1%B3-%E7%B3%99%E7%B1%B3.jpg?raw=true" alt="【麻營農夫】越光米-糙米">
                                    <h1>【麻營農夫】<br>越光米-糙米</h1>
                                    <p>NT.100</p>
                                    <button>加入購物車</button>
                                    </div>
                                <div class="col">
                                    <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E4%B9%85%E7%9B%9B%E8%BE%B2%E5%A0%B4%E3%80%91%E8%83%9A%E8%8A%BD%E7%B3%99%E7%B1%B3.jpg?raw=true" alt="【久盛農場】胚芽糙米10入">
                                    <h1>【久盛農場】<br>胚芽糙米10入</h1>
                                    <p>NT.1000</p>
                                    <button>加入購物車</button>
                                    </div>

                                <div class="col">
                                    <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E4%B9%85%E7%9B%9B%E8%BE%B2%E5%A0%B4%E3%80%91%E9%BB%91%E7%B3%AF%E7%B4%AB%E7%B1%B3.jpg?raw=true" alt="【久盛農場】黑糯紫米10入">
                                    <h1>【久盛農場】<br>黑糯紫米10入</h1>
                                    <p>NT.1200</p>
                                    <button>加入購物車</button>
                                    </div>
                                <div class="col">
                                    <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E6%97%97%E5%B1%B1%E8%BE%B2%E6%9C%83%E3%80%91%E9%87%91%E8%95%89%E7%B1%B31.8KG.jpg?raw=true" alt="【旗山農會】金蕉米1.8KG">
                                    <h1>【旗山農會】<br>金蕉米1.8KG</h1>
                                    <p>NT.150</p>
                                    <button>加入購物車</button>
                                    </div>
                                <div class="col">
                                    <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E5%B0%8F%E8%BE%B2%E4%B9%8B%E5%AE%B6%E3%80%91%E7%9B%8A%E5%85%A8%E7%99%BD%E7%B1%B3.jpg?raw=true" alt="【小農之家】益全白米">
                                    <h1>【小農之家】<br>益全白米</h1>
                                    <p>NT.250</p>
                                    <button>加入購物車</button>
                                    </div>
                                <div class="col">
                                    <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E5%B0%8F%E8%BE%B2%E4%B9%8B%E5%AE%B6%E3%80%91%E7%9B%8A%E5%85%A8%E7%B3%99%E7%B1%B3.jpg?raw=true" alt="【小農之家】益全糙米">
                                    <h1>【小農之家】<br>益全糙米</h1>
                                    <p>NT.200</p>
                                    <button>加入購物車</button>
                                    </div>
                                <!-- 蔬果標籤id="vegetable" -->
                                <div class="col">
                                    <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E5%B0%8F%E8%BE%B2%E4%B9%8B%E5%AE%B6%E3%80%91%E7%9B%8A%E5%85%A8%E8%83%9A%E8%8A%BD%E7%B1%B3.jpg?raw=true" alt="【小農之家】益全胚芽米">
                                    <h1>【小農之家】<br>益全胚芽米</h1>
                                    <p id="vegetable">NT.200</p>
                                    <button>加入購物車</button>
                                    </div>
                    </div>
                </div>

                <div class="topic">新鮮蔬果</div>
                <div class="container">
                    <div class="row row-cols-6">
                            <div class="col">
                            <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E5%8F%A4%E5%9D%91%E5%90%88%E4%BD%9C%E7%A4%BE%E3%80%91%E6%9C%89%E6%A9%9F%E8%94%AC%E8%8F%9C%E7%AE%B1.jpg?raw=true" alt="【古坑合作社】有機蔬菜箱">
                            <h1>【古坑合作社】<br>有機蔬菜箱</h1>
                            <p>NT.850</p>
                            <button>加入購物車</button>
                            </div>
                            <div class="col">
                            <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E5%90%88%E5%AE%B6%E6%AD%A1%E8%BE%B2%E7%89%A9%E3%80%91%E5%B1%B1%E8%91%B5%E8%91%89.jpg?raw=true" alt="【合家歡農物】山葵葉">
                            <h1>【合家歡農物】<br>山葵葉</h1>
                            <p>NT.100</p>
                            <button>加入購物車</button>
                            </div>
                            <div class="col">
                                <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E5%90%88%E5%AE%B6%E6%AD%A1%E8%BE%B2%E7%89%A9%E3%80%91%E9%9F%93%E5%9C%8B%E8%8A%9D%E9%BA%BB%E8%91%89.jpg?raw=true" alt="【合家歡農物】韓國芝麻葉">
                                <h1>【合家歡農物】<br>韓國芝麻葉</h1>
                                <p>NT.300</p>
                                <button>加入購物車</button>
                            </div>
                            <div class="col">
                                <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E5%A5%BD%E5%A5%BD%E8%BE%B2%E5%A0%B4%E3%80%91%E6%84%9B%E6%96%87%E8%8A%92%E6%9E%9C%E4%B8%80%E7%AE%B1.jpg?raw=true" alt="【好好農場】愛文芒果一箱">
                                <h1>【好好農場】<br>愛文芒果一箱</h1>
                                <p>NT.1360</p>
                                <button>加入購物車</button>
                                </div>
                            <div class="col">
                                <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E5%9F%94%E5%BF%83%E9%84%89%E8%BE%B2%E6%9C%83%E3%80%91%E9%87%91%E8%9C%9C%E8%8A%92%E6%9E%9C.jpg?raw=true" alt="【埔心鄉農會】金蜜芒果">
                                <h1>【埔心鄉農會】<br>金蜜芒果</h1>
                                <p>NT.350</p>
                                <button>加入購物車</button>
                            </div>
                            <div class="col">
                                <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E5%A4%A7%E7%94%B2%E5%8D%80%E8%BE%B2%E6%9C%83%E3%80%91%E9%AE%AE%E8%8A%8B%E5%A1%8A.jpg?raw=true" alt="【大甲區農會】鮮芋塊">
                                <h1>【大甲區農會】<br>鮮芋塊</h1>
                                <p>NT.100</p>
                                <button>加入購物車</button>
                                </div>
                            <div class="col">
                                <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E6%88%91%E5%AE%B6%E8%BE%B2%E5%A0%B4%E3%80%91%E7%84%A1%E6%AF%92%E6%A0%BD%E7%A8%AE%E7%84%A1%E8%8A%B1%E6%9E%9C.jpg?raw=true" alt="【我家農場】無毒栽種無花果">
                                <h1>【我家農場】<br>無毒栽種無花果1斤</h1>
                                <p>NT.780</p>
                                <button>加入購物車</button>
                                </div>

                            <div class="col">
                                <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E8%BE%B2%E8%88%9E%E5%8F%B0%E3%80%91%E6%9F%9A%E8%9C%82%E8%9C%9C%E7%A6%AE%E7%9B%92.jpg?raw=true" alt="【農舞台】柚蜂蜜禮盒">
                                <h1>【農舞台】<br>柚蜂蜜禮盒</h1>
                                <p id="meat">NT.1250</p>
                                <button>加入購物車</button>
                                </div>
                    </div>
                </div>

                <div class="topic">嚴選肉品</div>
                <div class="container">
                    <div class="row row-cols-6">
                            <div class="col">
                            <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E4%B8%80%E5%A4%AB%E6%B0%B4%E7%94%A2%E3%80%91%E7%84%A1%E5%88%BA%E8%99%B1%E7%9B%AE%E9%AD%9A%E8%82%9A.png?raw=true" alt="【一夫水產】無刺虱目魚肚">
                            <h1>【一夫水產】<br>無刺虱目魚肚</h1>
                            <p>NT.140</p>
                            <button>加入購物車</button>
                            </div>
                            <div class="col">
                            <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E4%B8%80%E5%A4%AB%E6%B0%B4%E7%94%A2%E3%80%91%E9%87%8E%E7%94%9F%E8%88%B9%E5%87%8D%E9%80%8F%E6%8A%BD.png?raw=true" alt="【一夫水產】野生船凍透抽">
                            <h1>【一夫水產】<br>野生船凍透抽</h1>
                            <p>NT.200</p>
                            <button>加入購物車</button>
                            </div>
                            <div class="col">
                                <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E4%B8%80%E5%A4%AB%E6%B0%B4%E7%94%A2%E3%80%91%E9%91%BD%E7%9F%B3%E6%B0%B4%E5%8D%88%E4%BB%94%E9%AD%9A.png?raw=true" alt="【一夫水產】鑽石水午仔魚2尾">
                                <h1>【一夫水產】<br>鑽石水午仔魚2尾</h1>
                                <p>NT.240</p>
                                <button>加入購物車</button>
                                </div>
                            <div class="col">
                            <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E7%B2%BF%E5%AE%B6%E5%B9%AB%E3%80%91%E7%8E%89%E6%A1%82%E9%BB%91%E8%B1%AC%E8%82%89%E9%A6%99%E8%85%B8.jpg?raw=true" alt="【粿家幫】玉桂黑豬肉香腸">
                            <h1>【粿家幫】<br>玉桂黑豬肉香腸</h1>
                            <p>NT.350</p>
                            <button>加入購物車</button>
                            </div>
                            <div class="col">
                                <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E8%90%AC%E9%87%91%E7%95%9C%E7%89%A7%E5%A0%B4%E3%80%91%E5%85%83%E6%B0%A3%E9%9B%9E%E6%B9%AF.jpg?raw=true" alt="【萬金畜牧場】元氣雞湯">
                                <h1>【萬金畜牧場】<br>元氣雞湯</h1>
                                <p id="snake">NT.850</p>
                                <button>加入購物車</button>
                            </div>
                    </div>
                </div>

                <div class="topic">餅乾點心</div>
                    <div class="container">
                    <div class="row row-cols-6">

                            <div class="col">
                                <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E6%9F%B3%E7%87%9F%E8%BE%B2%E6%9C%83%E3%80%91%E8%9D%A6%E7%B1%B3%E9%A4%85.jpg?raw=true" alt="【柳營農會】蝦米餅">
                                <h1>【柳營農會】<br>蝦米餅</h1>
                                <p>NT.120</p>
                                <button>加入購物車</button>
                            </div>
                            <div class="col">
                                <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E6%9F%B3%E7%87%9F%E8%BE%B2%E6%9C%83%E3%80%91%E7%89%9B%E5%A5%B6%E9%85%A5%E6%A3%92.jpg?raw=true" alt="【柳營農會】牛奶酥棒">
                                <h1>【柳營農會】<br>牛奶酥棒</h1>
                                <p>NT.120</p>
                                <button>加入購物車</button>
                            </div>
                            <div class="col">
                                <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E6%B1%A0%E4%B8%8A%E8%BE%B2%E6%9C%83%E3%80%91%E6%B1%A0%E4%B8%8A%E7%B1%B3%E9%A4%85-%E9%86%AC%E7%87%92.jpg?raw=true" alt="【池上農會】池上米餅-醬燒">
                                <h1>【池上農會】<br>池上米餅-醬燒</h1>
                                <p>NT.120</p>
                                <button>加入購物車</button>
                            </div>
                            <div class="col">
                                <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E6%B1%A0%E4%B8%8A%E8%BE%B2%E6%9C%83%E3%80%91%E6%B1%A0%E4%B8%8A%E7%B1%B3%E9%A4%85-%E8%B5%B7%E5%8F%B8.jpg?raw=true" alt="【池上農會】池上米餅-起司">
                                <h1>【池上農會】<br>池上米餅-起司</h1>
                                <p>NT.120</p>
                                <button>加入購物車</button>
                            </div>
                            <div class="col">
                                <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E6%97%97%E5%B1%B1%E8%BE%B2%E6%9C%83%E3%80%91%E6%89%8B%E5%B7%A5%E5%8D%83%E5%B1%A4%E9%85%A5.jpg?raw=true" alt="【旗山農會】手工千層酥">
                                <h1>【旗山農會】<br>手工千層酥</h1>
                                <p>NT.120</p>
                                <button>加入購物車</button>
                            </div>
                            <div class="col">
                                <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E6%97%97%E5%B1%B1%E8%BE%B2%E6%9C%83%E3%80%91%E9%A6%99%E8%95%89%E8%9B%8B%E6%8D%B2.jpg?raw=true" alt="【旗山農會】香蕉蛋捲">
                                <h1>【旗山農會】<br>香蕉蛋捲</h1>
                                <p>NT.120</p>
                                <button>加入購物車</button>
                            </div>
                            <div class="col">
                                <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E6%97%97%E5%B1%B1%E8%BE%B2%E6%9C%83%E3%80%91%E5%A5%BD%E8%95%89%E6%83%85%E5%8D%83%E5%B1%A4%E9%85%A5%E7%A6%AE%E7%9B%92.jpg?raw=true" alt="【旗山農會】好蕉情千層酥禮盒">
                                <h1>【旗山農會】<br>好蕉情千層酥禮盒</h1>
                                <p>NT.350</p>
                                <button>加入購物車</button>
                            </div>
                            <div class="col">
                                <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E9%9C%A7%E5%B3%B0%E8%BE%B2%E6%9C%83%E3%80%91%E9%85%92%E7%B2%95%E9%A6%99%E7%B1%B3%E6%8D%B2%E7%9B%92%E8%A3%9D.jpg?raw=true" alt="【霧峰農會】酒粕香米捲盒裝">
                                <h1>【霧峰農會】<br>酒粕香米捲盒裝</h1>
                                <p>NT.120</p>
                                <button>加入購物車</button>
                            </div>
                            <div class="col">
                                <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E9%9C%A7%E5%B3%B0%E8%BE%B2%E6%9C%83%E3%80%91%E9%BB%91%E8%8A%9D%E9%BA%BB%E9%85%92%E7%B2%95%E9%A6%99%E7%B1%B3%E6%8D%B2%E7%9B%92%E8%A3%9D.jpg?raw=true" alt="【霧峰農會】黑芝麻酒粕香米捲盒裝">
                                <h1>【霧峰農會】<br>黑芝麻酒粕香米捲盒裝</h1>
                                <p id="candy">NT.120</p>
                                <button>加入購物車</button>
                            </div>

                    </div>
                </div>
                            <div class="topic">果乾蜜餞</div>
                                <div class="container">
                                <div class="row row-cols-6">
                                    <div class="col">
                                        <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E5%9C%8B%E5%A7%93%E8%BE%B2%E6%9C%83%E3%80%91%E6%A2%85%E7%B2%BE%E9%8C%A0.jpeg?raw=true" alt="【國姓農會】梅精錠">
                                        <h1>【國姓農會】<br>梅精錠</h1>
                                        <p>NT.39</p>
                                        <button>加入購物車</button>
                                    </div>
                                    <div class="col">
                                        <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E5%9C%8B%E5%A7%93%E8%BE%B2%E6%9C%83%E3%80%91%E7%94%98%E6%A2%85%E6%BD%A4%E5%96%89%E7%89%87.jpeg?raw=true" alt="【國姓農會】甘梅潤喉片">
                                        <h1>【國姓農會】<br>甘梅潤喉片</h1>
                                        <p>NT.39</p>
                                        <button>加入購物車</button>
                                    </div>
                                    <div class="col">
                                        <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E5%9C%8B%E5%A7%93%E8%BE%B2%E6%9C%83%E3%80%91%E9%A6%99%E6%A2%85%E7%89%87.jpeg?raw=true" alt="【國姓農會】香梅片">
                                        <h1>【國姓農會】<br>香梅片</h1>
                                        <p>NT.39</p>
                                        <button>加入購物車</button>
                                    </div>
                                    <div class="col">
                                        <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E5%9C%8B%E5%A7%93%E8%BE%B2%E6%9C%83%E3%80%91%E9%BB%91%E7%B3%96%E8%96%91%E9%8C%A0.jpeg?raw=true" alt="【國姓農會】黑糖薑錠">
                                        <h1>【國姓農會】<br>黑糖薑錠</h1>
                                        <p>NT.39</p>
                                        <button>加入購物車</button>
                                    </div>
                                    <div class="col">
                                        <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E6%97%97%E5%B1%B1%E8%BE%B2%E6%9C%83%E3%80%91%E5%8E%9F%E5%91%B3%E9%A6%99%E8%95%89%E8%84%86%E7%89%87.jpg?raw=true" alt="【旗山農會】原味香蕉脆片">
                                        <h1>【旗山農會】<br>原味香蕉脆片</h1>
                                        <p>NT.120</p>
                                        <button>加入購物車</button>
                                    </div>
                                    <div class="col">
                                        <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E6%97%97%E5%B1%B1%E8%BE%B2%E6%9C%83%E3%80%91%E7%84%A6%E7%B3%96%E9%A6%99%E8%95%89%E8%84%86%E7%89%87.jpg?raw=true" alt="【旗山農會】焦糖香蕉脆片">
                                        <h1>【旗山農會】<br>焦糖香蕉脆片</h1>
                                        <p id="coffee">NT.120</p>
                                        <button>加入購物車</button>
                                    </div>

                        </div>
                    </div>

                            <div class="topic" id="coffee">精品咖啡</div>
                            <div class="container">
                                <div class="row row-cols-6">
                                    <div class="col">
                                        <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E9%9C%A7%E5%B3%B0%E8%BE%B2%E6%9C%83%E3%80%91%E5%8D%97%E7%BE%8E%E6%BF%BE%E6%8E%9B%E5%92%96%E5%95%A1.jpg?raw=true" alt="【霧峰農會】南美濾掛咖啡">
                                        <h1>【霧峰農會】<br>南美濾掛咖啡</h1>
                                        <p>NT.160</p>
                                        <button>加入購物車</button>
                                    </div>
                                    <div class="col">
                                        <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E9%9C%A7%E5%B3%B0%E8%BE%B2%E6%9C%83%E3%80%91%E5%93%A5%E5%80%AB%E6%AF%94%E4%BA%9E%E6%BF%BE%E6%8E%9B%E5%92%96%E5%95%A1.jpg?raw=true" alt="【霧峰農會】哥倫比亞濾掛咖啡">
                                        <h1>【霧峰農會】<br>哥倫比亞濾掛咖啡</h1>
                                        <p>NT.280</p>
                                        <button>加入購物車</button>
                                    </div>
                                    <div class="col">
                                        <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E9%9B%85%E8%B0%B7%E5%92%96%E5%95%A1%E8%8E%8A%E5%9C%92%E3%80%91%E7%B6%9C%E5%90%88%E6%BF%BE%E6%8E%9B%E5%92%96%E5%95%A1-2%E7%9B%92%E7%B5%84.jpg?raw=true" alt="【霧峰農會】綜合濾掛咖啡-2盒組">
                                        <h1>【雅谷咖啡莊園】<br>綜合濾掛咖啡-2盒組</h1>
                                        <p>NT.700</p>
                                        <button>加入購物車</button>
                                    </div>
                                    <div class="col">
                                        <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E9%9B%85%E8%B0%B7%E5%92%96%E5%95%A1%E8%8E%8A%E5%9C%92%E3%80%91%E7%B6%9C%E5%90%88%E5%92%96%E5%95%A1%E8%B1%86%E7%B5%84%E2%94%80%E6%BF%BE%E6%8E%9B.jpg?raw=true" alt="【霧峰農會】南美濾掛咖啡">
                                        <h1>【雅谷咖啡莊園】<br>綜合咖啡豆組─濾掛</h1>
                                        <p>NT.1200</p>
                                        <button>加入購物車</button>
                                    </div>
                                    <div class="col">
                                        <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E8%87%BA%E4%B8%AD%E5%B8%82%E8%BE%B2%E6%9C%83%E3%80%91%E8%9E%A2%E7%81%AB%E8%9F%B2%E5%92%96%E5%95%A1-%E6%B0%B4%E6%B4%97-10%E5%85%A5%E6%8E%9B%E8%80%B3%E5%8C%85.jpg?raw=true" alt="【臺中市農會】螢火蟲咖啡-水洗-10入掛耳包">
                                        <h1>【臺中市農會】<br>螢火蟲咖啡-水洗-10入掛耳包</h1>
                                        <p id="tea">NT.360</p>
                                        <button>加入購物車</button>
                                    </div>

                                </div>
                            </div>

                            <div class="topic">特級茶葉</div>
                            <div class="container">
                                <div class="row row-cols-6">
                                    <div class="col">
                                        <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E5%B3%B0%E7%94%B0%E5%B0%8F%E7%94%BA%E3%80%91%E9%BE%8D%E7%9C%BC%E8%8A%B1%E8%8C%B6.jpg?raw=true" alt="【峰田小町】龍眼花茶">
                                        <h1>【峰田小町】<br>龍眼花茶</h1>
                                        <p>NT.250</p>
                                        <button>加入購物車</button>
                                    </div>
                                    <div class="col">
                                        <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E6%A8%B8%E4%BD%9C%E8%89%AF%E9%A3%9F%E3%80%91%E8%98%BF%E5%8B%92%E8%8A%B1%E8%8D%89%E8%8C%B6.jpg?raw=true" alt="【樸作良食】蘿勒花草茶">
                                        <h1>【樸作良食】<br>蘿勒花草茶</h1>
                                        <p>NT.750</p>
                                        <button>加入購物車</button>
                                    </div>
                                    <div class="col">
                                        <img src="https://github.com/WilsonXeon/build_website/blob/pages/testimg/%E3%80%90%E9%80%A3%E8%A8%98%E8%8C%B6%E8%8E%8A%E3%80%91%E6%9C%89%E6%A9%9F%E8%9C%9C%E9%A6%99%E7%B4%85%E8%8C%B6.jpg?raw=true" alt="【連記茶莊】有機蜜香紅茶">
                                        <h1>【連記茶莊】】<br>有機蜜香紅茶</h1>
                                        <p>NT.660</p>
                                        <button>加入購物車</button>
                                    </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <footer class="footer">
        <hr>
        Copyright © 2021 好米行 All Rights Reserved.
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/a0640d73c3.js" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js' integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==' crossorigin='anonymous'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.3.2/jquery-migrate.min.js' integrity='sha512-3fMsI1vtU2e/tVxZORSEeuMhXnT9By80xlmXlsOku7hNwZSHJjwcOBpmy+uu+fyWwGCLkMvdVbHkeoXdAzBv+w==' crossorigin='anonymous'></script>
<script type="text/javascript" src="{% static '/css/slick/slick.min.js' %}"></script>

<script type="text/javascript">
$('.bannerContainer').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 4000,
  dots:true,
  speed:2000,

});
</script>
<script type="text/javascript">
    var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'))
var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
  return new bootstrap.Dropdown(dropdownToggleEl)
})
</script>
</body>
{% endblock  %}
</html>