{% load static %}
<!DOCTYPE html>
<html  lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="../../static/css/style.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>
            加入會員
        </title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>


<input type="checkbox" name="" id="menu_control">
    <div class="header">
        <h1 class="logo">
            <a href="/login"><img src="https://raw.githubusercontent.com/WilsonXeon/build_website/pages/testimg/TAG-V2.png"></a>
        </h1>

        <label for="menu_control" class="menu_btn">
            <span>選單</span>
        </label>
    </div>

<body>
{% block content %}

    <div id="app">
    <div class="sign">
    <p class="fas"><i class="fas fa-pen-nib"> 【加入會員】</i></p>
        <form action="" method="post" class="signup">
         {% csrf_token %}
                {% verbatim %}

            <!--帳號-->
                <div class="invalid-feedback" v-if="this.usernameError === true">
                    {{ userErrMsg }}
                </div>
                <div class="label_input">
                    <label class="label">　　帳號</label>
                    <input type="text" class="form-control" name="username" v-model="username" v-bind:class="{ 'is-invalid': usernameError }" placeholder="含大小寫英文數字，最多10位" required />
                </div>

            <!--密碼-->
                <div class="invalid-feedback" v-if="this.passwordError === true">
                    {{ passErrMsg }}
                </div>
                <div class="label_input">
                    <label class="label">　　密碼</label>
                    <input type="password" class="form-control" name="password" v-model="password" v-bind:class="{ 'is-invalid': passwordError }" placeholder="含大小寫英文數字，最多10位" required />
                </div>

            <!--姓名-->
                <div class="label_input">
                    <label class="label">　　姓名</label>
                    <input type="text" class="form-control" name="name" placeholder="如：陳曉明" required/>
                </div>

            <!--信箱-->
                <div class="invalid-feedback" v-if="this.emailError === true" >
                    {{ emailErrMsg }}
                </div>
                <div class="label_input">
                    <label class="label">　　信箱</label>
                    <input type="email" class="form-control" name="email" v-model="email" v-bind:class="{ 'is-invalid': emailError }" placeholder="如：adc123@.gmail.com" required />
                </div>

            <!--手機號碼-->
                <div class="invalid-feedback" v-if="this.telError === true">
                    {{ telErrMsg }}
                </div>
                <div class="label_input">
                    <label class="label">手機號碼</label>
                    <input type="tel" class="form-control" name="tel" v-model="tel" v-bind:class="{ 'is-invalid': telError }" placeholder="如：0900123123" required />
                </div>

            <!--地址-->
            <hr size="0.5px" width="80%">

                <div class="select">
                <!-- 用div把label和label包起來，才可以在CSS調整成同一行 -->
                    <label for="address" class="label">　　地址</label>
                        <select id="縣市1" v-model="selected1" name ="address1" class="select-control"></select>
                        <select id="鄉鎮市區1" v-model="selected2" name ="address2"  class="select-control"></select>
                    </div>

                    <div class="label_input">
                        <label class="label">詳細地址</label>
                        <input type="address3" v-model="message" name ="address3"  class="form-control" placeholder="如：仁義路四段12號之3" required />
                    </div>

            <!--生日-->
            <hr size="0.5px" width="80%">
                <div class="select">
                    <label for="bdayInput" class="label">　　生日</label>
                    <input type="date" class="form-control" name="birth" required />
                </div>

                <button class="sub" value="註冊" @click="inputHandler">註冊</button>

            </form>

    </div>
    {% endverbatim %}
</div>


    <script src="{% static '/css/user_sign.js' %}"></script>
    <script src="{% static '/css/visa.js' %}"></script>
    <script src="{% static '/css/index.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            //當頁面載完之後，用AddressSeleclList.Initialize()，
            //傳入要綁定的縣市下拉選單ID及鄉鎮市區下拉選單ID
            AddressSeleclList.Initialize('縣市1', '鄉鎮市區1');
            //後面四個參數分別是兩個下拉選單的預設文字跟值
           AddressSeleclList.Initialize('縣市2', '鄉鎮市區2', 'Please Select City', '0', 'Please Select Area', '0');
       }
     </script>
    <script src="https://kit.fontawesome.com/a0640d73c3.js" crossorigin="anonymous"></script>
</body>
{% endblock  %}
</html>