{% load static %}
<!DOCTYPE html>
<html  lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/editstyle.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>
            會員資料
        </title>
</head>
{% block content %}
<body>
{% csrf_token %}

<input type="checkbox" name="" id="menu_control">
    <div class="header">
        <h1 class="logo">
            <a href="/home"><img src="https://raw.githubusercontent.com/WilsonXeon/build_website/pages/testimg/TAG-V2.png"></a>
        </h1>

        <label for="menu_control" class="menu_btn">
            <span style="color: #5F4B3F;">選單</span>
        </label>
    </div>


   <div class="wrap">
    <div class="list">
        <li>
            <a href="/user_edit"> ▎我的帳戶</a>

            <ui><a href="/user_edit"> ▏個人資料</ui></a>
            <ui> <a href="/user_ccard">▏我的信用卡</ui></a>
            <ui> <a href="/user_adr_edit"> ▏寄件地址</ui></a>
            <ui> <a href="/user_password_edit"> ▏更改密碼</ui></a>

        </li>

        <li>
            <a href="/shopping_cart">  ▎購物清單</a>
        </li>

        <li>
            <a href="/shopping_info"> ▎通知一覽</a>
        </li>
    </div>

    <form class="box6">
        <p style="font-size: 30px;font-weight: 800;color:#5c513d;text-align: center;margin-top: 50px;"><i class="fas fa-bell"> 通知一覽</i></p>

        <div class="item">
            <img src="https://raw.githubusercontent.com/WilsonXeon/build_website/pages/testimg/s35f7109ccb43e4c31a62e92b60c601ef.jpg" class="img">

            <div class="info">
                <p ><i class="fas fa-truck"> 商品已到貨</i></p>
                <p class="infoTip">訂單8431648463已到貨</p>
                <a href="/error" class="buttonInfo">訂單詳情</a>
            </div>


        </div>

        <div class="item">
            <img src="https://raw.githubusercontent.com/WilsonXeon/build_website/pages/testimg/s9c341805631b11856e6726d0385dfcf2%20(1).jpg" class="img">

            <div class="info">
                <p><i class="fas fa-times"> 商品已取消</i></p>
                <p class="infoTip">訂單7825536838已取消</p>
                <a href="/error" class="buttonInfo">訂單詳情</a>
            </div>
        </div>

        <div class="item">
            <img src="https://raw.githubusercontent.com/WilsonXeon/build_website/pages/testimg/sd2b0f2d88d79329462ccca8c8d82b58d.jpg" class="img">

            <div class="info">
                <p><i class="fas fa-dollar-sign"> 商品已退款</i></p>
                <p class="infoTip">訂單7825536838已退款</p>
                <a href="/error" class="buttonInfo">訂單詳情</a>
            </div>
        </div>

        <div class="item">
            <img src="https://raw.githubusercontent.com/WilsonXeon/build_website/pages/testimg/sa2d760ffe6957a35798aaaa7be428e47.jpg" class="img">

            <div class="info">
                <p><i class="fas fa-clipboard-list"></i> 訂單已成立</i></p>
                <p class="infoTip">訂單8676860866已成立</p>
                <a href="/error" class="buttonInfo">訂單詳情</a>
            </div>
        </div>

    </div>





    </div>
    <script src="{% static '/css/index.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

 <script src="https://kit.fontawesome.com/a0640d73c3.js" crossorigin="anonymous"></script>
</body>
{% endblock  %}
</html>