{% load static %}
<!DOCTYPE html>
<html  lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="../../static/css/editstyle.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>
            會員資料
        </title>

</head>

<input type="checkbox" name="" id="menu_control">
    <div class="header">
        <h1 class="logo">
            <a href="/home"><img src="https://raw.githubusercontent.com/WilsonXeon/build_website/pages/testimg/TAG-V2.png"></a>
        </h1>

        <label for="menu_control" class="menu_btn">
            <span>選單</span>
        </label>
    </div>
{% block content %}
<body>
{% csrf_token %}
    <div class="wrap">
    <div class="list">
        <li>
            <a href="/user_edit"> ▎我的帳戶</a>


            <ui><a href="/user_edit"> ▏個人資料</ui></a>
            <ui> <a href="/user_ccard">▏我的信用卡</ui></a>
            <ui> <a href="/user_adr_edit"> ▏寄件地址</ui></a>
            <ui> <a href="/user_password_edit"> ▏更改密碼</ui></a>

        </li>

        <li>
            <a href="/shopping_cart">  ▎購物清單</a>
        </li>

        <li>
            <a href="/shopping_info"> ▎通知一覽</a>
        </li>
    </div>

        <form class="box1" action="" method="POST">
            {% for try123 in signs %}
            <p style="font-size: 25px;font-weight: 800;color:#5c513d;text-align: center;"><i class="fas fa-user"> 個人資料</i></p>
            <div >
                <div class="labelInput">
                <label class="labels">姓名</label>
                <d> {{ try123.name }}</d>
                </div>

                <div class="labelInput">
                <label class="labels">信箱</label>
                <d> {{ try123.email }}</d>
                </div>

                <div class="labelInput">
                <label for="phoneInput" class="labels">手機</label>
                <d> {{ try123.tel }}</d>
                </div>
            
                <div class="labelInput">
                <label for="bdayInput" class="labels">生日</label>
                <d> {{ try123.birth }}</d>
                </div>

            </div>


            <div class="button_div"  >
                 <a class="button"  href="{% url 'Update' try123.id %}" >變更資料</a>
            </div>

        </form>
            {% endfor %}
        </div>
    </div>

    <script src="{% static '/css/index.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

 <script src="https://kit.fontawesome.com/a0640d73c3.js" crossorigin="anonymous"></script>
</body>
{% endblock  %}
</html>