/*網頁字型*/
@font-face {
    font-family: Secular One, sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
  }
  body {
    font-family: Secular One, sans-serif
    }


    .header{
        margin: 0;
        height: pxToVh(80);
        background-color: #A18559;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 2;}
    @media screen and (max-device-width: 420px){
        .header{width: 100vw;
      }}
    
      .logo{
        margin-block-start: 0em;
        padding: 0%;
      }
      .logo img{
        margin: auto;
        vertical-align: middle; 
        }
      #menu_control{/*工具人*/
        position: absolute;
      }
      #menu_control:checked ~.wrap >.list{
        left: 0;
      }
      .menu_btn{/*選單開關*/
        width: 50px;
        height: 50px;
        background-color: #5F4B3F;
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;}
        
        .menu_btn::before{/*選單按鈕中的影分身橫槓*/
          content: " ";
          position: absolute;
          height: 2px;
          left: 2px;
          width: 30px;
          background-color: #FBF3ED;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto;
          box-shadow: 0 12px 0 #FBF3ED,
                      0 -12px 0 #FBF3ED;
        }
        span{
            opacity: 0;
            display: block;
            width: 1px;
            height: 1px;
            overflow: hidden;
          }
        @media screen and (min-device-width: 768px){
        .menu_btn {
          display: none;
        }
      }

/* 背景、body */
    body{
        margin: 0px;
    }
    .loginDiv{
        background-image: url("https://github.com/WilsonXeon/build_website/blob/pages/testimg/backimg2.jpg?raw=true");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
        height: 100vh;
        display: flex;
        align-items:center;
        justify-content: center;
    }
/* 表單的樣式 */
.login {
    color:#6b5e47;
    text-align: center;
    background-color:#d6d6c2;
    margin-top: 10vh;
    width: 20vw;
    height: 28vw;
    padding: 3vw;
    border-radius: 20px;
    box-shadow: 0 0 10px gray;
}
@media (max-device-width: 420px) {
    .login{
    padding: 10px;
    width: 250px;
    height: 400px;}
}
.login input{
    font-size: 18px;
    display: block;
    margin: 2vw auto;
    padding: 1.5vw;
    width: 15vw;
    height: 2vh;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 0 10px seashell;
}
@media (max-device-width: 420px) {
    .login input{
    display: block;
    margin: 20px;
    margin-top: 30px;
    width: 200px;
    height: 40px;
    }
}
/* 登入按鈕 */
.login input[type="submit"]{
    cursor: pointer;
    background-color:#555E30;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 16vw;
    padding: 10px;
    /* 要設定padding，按鈕的文字才會置中 */
    height: 8vh;
    text-align: center;
}
.login input[type="submit"]:hover{
    background-color:#A18559;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: 0.5s;
}
@media (max-device-width: 420px) {
    .login input[type="submit"]{
    display: block;
    margin: 20px;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    }
}
/* 忘記密碼、註冊會員頁連結的樣式 */
#href1 a:link{
    color:gray;
    background-color:seashell;
    padding: 1vh;
    margin: 1vw;
    text-decoration:none;
    display: inline;
    border-radius: 20px;
    box-shadow: 0 0 10px seashell;
   }

   #href1 a:hover{
    color:white;
    background-color:#6b5e47;
    text-decoration:none;
    transition: 0.5s;
    }
@media (max-device-width: 420px) {
    #href1{
        padding: 1vh;
    margin: 1vw;
    }
}
    
